:root {
    --small-padding: 1rem;
    --medium-padding: 1rem 2rem;
    --header-footer-padding: 1rem;
    --menu-box-shadow: 0 0.125rem 0.3125rem rgb(0 0 0 / 0.1);
    --menu-width: 12.5rem;
    --menu-top: 3.75rem;
    --cta-font-size: 1.5rem;
    --gap-small: 0.5rem;
}

@media (max-width: 54em) {
    #menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: var(--cta-font-size);
        cursor: pointer;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: var(--menu-top);
        right: var(--base-padding);
        background: var(--light-bg);
        border: var(--border);
        width: var(--menu-width);
        box-shadow: var(--menu-box-shadow);
        z-index: 3;
    }

    nav.active ul {
        display: flex;
    }

    nav ul li {
        border-bottom: var(--border);
    }

    nav ul li a {
        padding: 0.75rem var(--base-padding);
        display: block;
    }

    #footer-container {
        padding: var(--small-padding);
        grid-template-columns: 1fr;
    }

    .header-container {
        padding: var(--header-footer-padding);
    }

    #footer-container> :is(div:nth-child(1), div:nth-child(3)) {
        text-align: left;
    }

    #footer-container>div:nth-child(2) {
        text-align: center;
    }

    .content-container {
        grid-template-columns: 1fr;
        padding: var(--small-padding);
    }

    #homemembers {
        flex-direction: column;
        padding: var(--small-padding);
        gap: var(--gap-small);
        flex: 1 1 auto;
        width: 100%;
    }

    h1 {
        padding: var(--small-padding);
    }
}